body{
    font-family: "Times New Roman" , sans-serif;
 }
.wrapper{
    width: 900px;
    margin: 0 auto;

}
header{
    width: 740px;
    margin: 100px auto 0;
    text-align: center;
    font-size: 14px;
}
h4{
    font-style: italic;
}

main{
    padding: 0 80px;
    }

.img_1{
    float: left;
    margin-right: 10px;
}
.img_2{
    display: block;
    clear: both;
    margin: 0 auto;
}
.italic{
    font-style: italic;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.decoration{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
ul{
    margin: 50px 0;
}
address span{
    font-style: normal;
}